div.homeScreenContainer {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

div.heroText {
    width: calc(1088 * var(--unit));
    height: calc(192 * var(--unit));
    display: grid;
    place-items: center;
    text-align: center;
    font: 700 calc(64 * var(--unit)) 'Inter';
    margin: calc(176 * var(--unit)) auto 0 auto;
    color: var(--mono800);
}

div.subHeroText {
    width: calc(480 * var(--unit));
    height: calc(48 * var(--unit));
    display: grid;
    place-items: center;
    text-align: center;
    font: 400 calc(20 * var(--unit)) 'Inter';
    margin: calc(16 * var(--unit)) auto 0 auto;
    color: var(--mono500);
}

div.card-header {
    width: calc(1312 * var(--unit));
    height: calc(48 * var(--unit));
    display: flex;
    align-items: center;
    font: 700 calc(32 * var(--unit)) 'Inter';
    margin: calc(64 * var(--unit)) auto 0 auto;
    color: var(--mono800);
}

div.productContainer{
    width: calc(1312 * var(--unit));
    height: auto;
    margin: calc(64 * var(--unit)) auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: calc(16 * var(--unit));
    /* flex-wrap: wrap; */
}