div.conclusion-card {
    width: calc(368 * var(--unit));
    height: calc(420 * var(--unit));
    background: linear-gradient(#FFFFFF);
    padding: calc(16 * var(--unit));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    border-radius: calc(32 * var(--unit));
    margin: calc(32 * var(--unit)) 0 0 0;
}

p.conclusion-header {
    width: calc(336 * var(--unit));
    height: calc(64 * var(--unit));
    display: flex;
    align-items: center;
    font: 500 calc(16 * var(--unit)) 'IBM Plex Sans Thai';
}

p.conclusion-display {
    width: calc(336 * var(--unit));
    height: calc(48 * var(--unit));
    display: flex;
    align-items: center;
    font: 600 calc(32 * var(--unit)) 'IBM Plex Sans Thai';
}

div.increase-card {
    width: calc(160 * var(--unit));
    height: calc(160 * var(--unit));
    background: #FFB05C;
    position: absolute;
    top: calc(128 * var(--unit));
    left: calc(626 * var(--unit));
    border-radius: calc(32 * var(--unit));
    padding: calc(16 * var(--unit));
    color: #FFFFFF;
}

p.increase-header {
    width: calc(128 * var(--unit));
    height: calc(32 * var(--unit));
    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 calc(16 * var(--unit)) 'IBM Plex Sans Thai';
}

button.add-product-button {
    width: calc(64 * var(--unit));
    height: calc(64 * var(--unit));
    border: 0;
    background: #FFFFFF;
    border-radius: calc(32 * var(--unit));
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
    font-size: calc(32 * var(--big));
    margin: calc(16 * var(--big)) 0 0 calc(32 * var(--big));
    cursor: pointer;
}

button.add-product-button:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}