div.productCardContainer {
    width: calc(255.33 * var(--unit));
    height: calc(256 * var(--unit));
    border-radius: calc(24 * var(--unit));
    background: var(--mono100);
    border: 1px solid var(--mono200);
}

img.productImage {
    width: calc(189.33 * var(--unit));
    height: calc(142 * var(--unit));
    margin: calc(8 * var(--unit)) 0 0 calc(8 * var(--unit));
    border-radius: calc(16 * var(--unit));

}

div.productCardName {
    width: calc(189.33 * var(--unit));
    height: calc(40 * var(--unit));
    margin: calc(2 * var(--unit)) 0 0 calc(8 * var(--unit));
    /* background: var(--mono200); */
    font: 400 calc(12 * var(--unit)) 'IBM Plex Sans Thai';
    color: var(--mono800);
    -webkit-line-clamp: 2; 
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
}

div.productCardStarContainer {
    width: calc(53.33 * var(--unit));
    height: calc(24 * var(--unit));
    margin: calc(26 * var(--unit)) 0 0 calc(8 * var(--unit));
    border-radius: calc(12 * var(--unit));
    background: var(--secondaryVariant);
    display: flex;
}

span.productCardStarSymbol {

    width: calc(24* var(--unit));
    height: calc(24 * var(--unit));
    margin: calc(-1* var(--unit)) 0 0 0;
    font-size: calc(24 * var(--unit));
    color: var(--mono100);
}

div.productCardStar {
    width: calc(29 * var(--unit));
    height: calc(24 * var(--unit));
    /* background: var(--mono200); */
    font: 600 calc(12 * var(--unit)) 'Inter';
    color: var(--mono100);
    display: grid;
    place-items: center;
    /* background-color: red; */
}

div.productCardPrice {}