@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary:#FF5C5C;
    --secondary:#FFB05C;
    --secondaryVariant:#FFC65C;
    --accent:#5C8DFF;
    --accentVariant:#5CC3FF;

    --warning:#FFC216;
    --alert:#FF0000;
    --mono100:#FFFFFF;
    --mono200:#FAFAFA;
    --mono300:#E8E8E9;
    --mono400:#BBBBBC;
    --mono500:#8E8E8F;
    --mono600:#606062;
    --mono700:#333335;
    --mono800:#1C1C1E;
    --mono900:#000000;
}

@media (min-aspect-ratio: 16/9)  {
    :root{
        --unit:(1vh / 8.1);
    }
}
@media (max-aspect-ratio: 16/9)  {
    :root{
        --unit:(1vw / 14.4);
    }
}
